<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p>links</p>
                <p>social</p>
                <p>copyright</p>
            </div>
            <div class="col-md-5">
                <div class="newsletter">
                    <div class="newsletter-title">Sign up for our Newsletter</div>
                    <div class="newsletter-description">Sign up for our newsletter &amp; get exclusive discounts!</div>
                    <form action="" class="newsletter-form" method="post">
                        <label class="sr-only" for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email" />
                        <button type="submit" class="btn btn-attention">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
