<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-6">
                <div class="newsletter">
                    <div class="newsletter-title">Sign up for our Newsletter</div>
                    <div class="newsletter-description">Sign up for our newsletter &amp; get exclusive discounts!</div>
                    <form action="" class="newsletter-form" method="post">
                        <label class="sr-only" for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email" />
                        <button type="submit" class="btn btn-attention btn-block">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-6">
                <nav class="footer-links">
                    <a href="#">Company</a>
                    <a href="#">Contact us</a>
                    <a href="#">Shipping</a>
                    <a href="#">Returns</a>
                    <a href="#">Carrers</a>
                </nav>
                <div class="footer-social">
                    <a href=#"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icomoon-facebook-with-circle"></use></svg></a>
                    <a href=#"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icomoon-twitter-with-circle"></use></svg></a>
                    <a href=#"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icomoon-pinterest-with-circle"></use></svg></a>
                    <a href=#"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icomoon-tumblr-with-circle"></use></svg></a>
                    <a href=#"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icomoon-google-with-circle"></use></svg></a>
                </div>
                <div class="footer-copyright">
                    <p>&copy; Potion Shop. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
