<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="header-logo">
                    <a href="{{ path('homepage') }}">
                        <img src="//placehold.it/240x45" alt="Potions shop" />
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <form class="header-search" action="#" method="GET">
                    <label for="search-q" class="sr-only">Buscar</label>
                    <input type="search" class="form-control" name="q" id="serarch-q" placeholder="Search our stock" />
                    <button type="submit" class="btn btn-link"><svg class="icon"><use xlink:href="#icomoon-search"></use></svg></button>
                </form>
            </div>
            <div class="col-md-4">
                <div class="header-cart">
                </div>
            </div>
        </div>
    </div>
</div>
