<div class="nav hidden-sm-down">
    <div class="container">
        <nav class="nav-main">
            <a href="#">Potions</a>
            <a href="#">Ingredients</a>
            <a href="#">Books</a>
            <a href="#">Supplies</a>
            <a href="#">Charms</a>
            <a href="#">Clearance!</a>
        </nav>
        <div class="nav-user">
            <a href="#">Sign In</a>
            or
            <a href="#">Sign Up</a>
        </div>
    </div>
</div>
