.footer {
    padding: 2rem 0 2rem;
    background-color: $color-footer;
    color: $body-color;
    overflow: hidden;
}
.footer-links {
    margin: 0 -.25rem 2rem;
    font-size: 1.2rem;
    font-family: $font-family-condensed;
    text-transform: uppercase;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: $brand-attention;
    > * {
        padding: 0 .25rem;
    }
    a {
        @include a-unstyled;
    }
}
.footer-social {
    margin-bottom: 2rem;
    color: $brand-primary;
    .icon {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }
}
.footer-copyright {
    font-family: $font-family-sans-serif;
    font-weight: 300;
}
