.footer {
    padding: 2rem 0 2rem;
    background-color: $color-footer;
    color: $body-color;
    overflow: hidden;
}
.footer-links {
    display: none;
    margin: 0 -.25rem 2rem;
    font-size: 1.2rem;
    font-family: $font-family-condensed;
    text-transform: uppercase;
    color: $brand-attention;
    > * {
        padding: 0 .25rem;
    }
    a {
        @include a-unstyled;
    }
}
.footer-social {
    margin-bottom: 2rem;
    padding: 0 2rem;
    color: $brand-primary;
    display: flex;
    justify-content: space-around;
    .icon {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }
    a {
        @include a-unstyled;
    }
}
.footer-copyright {
    font-family: $font-family-sans-serif;
    text-align: center;
    font-weight: 300;
}
@media (min-width: map-get($grid-breakpoints, md)) {
    .footer-links {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .footer-social {
        padding: 0;
        display: block
    }
    .footer-copyright {
        text-align: left;
    }
}
