{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="container">
            <h2>Potions</h2>
            {% verbatim %}
                <div class="products">
                    <div class="row">
                        <div class="col-xs-6 col-md-4" ng-repeat="product in products" ng-cloak>
                            <div class="product">
                                <div class="product-image">
                                    <img ng-src="/assets/images/products/{{ product.image }}" />
                                </div>
                                <div class="product-text">
                                    <span class="product-name">{{ product.name }}</span>
                                    -
                                    <span class="product-price">$ {{ product.price }}</span>
                                    <div class="product-actions">
                                        <div class="btn-group btn-group-sm" role="group">
                                            <button type="button" class="btn btn-primary" ng-click="removeProduct(product)">-</button>
                                            <button type="button" class="btn btn-secondary" disabled>{{ getQuantity(product) }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="addProduct(product)">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endverbatim %}
        </div>
    </div>
{% endblock %}

